section { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    

    .container {
        width: 80%;
        height: 80%;

        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: $text-xl;
        }

        h2 {
            font-size: $text-lg;
        }

        h3,
        p {
            font-size: $text-sm;
        }

        h4 {
            font-size: $text-xs;
        }

        h1,
        h2,
        h3,
        p {
            color: $primary-800;
        }
    }

    button { 
        width: 150px;
        height: 30px;
        border-radius: 25px;
        background-color: $secondary-500;
        font-family: $font-md;
        font-size: $text-md;
        color: #FFF;

        &:hover {
            background-color: #FFF;
            color: $secondary-500;
            transition: all ease 0.7s;
        }
    }
}