section { 

    button { 
        width: 150px;
        height: 30px;
        border-radius: 25px;
        background-color: $secondary-800;
        font-family: $font-md;
        font-size: $text-md;
        color: #FFF;
    }
}