section.contact {
  

    .container {
        width: 50%;
        height: 15vh;
        margin: 100px 0;

        border-radius: 10px;

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 40%;
            height: 100%;
            background-color: $secondary-500;
            border-radius: 10px 0 0 10px;

            h3 {
                font-weight: $font-w700;
                color: #FFF;
                padding: 0 15px;

                span {
                    color: $primary-950;
                }
            }
        }

        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            flex-basis: 60%;
            height: 100%;
            background-color: $primary-950;
            border-radius: 0 10px 10px 0;

            input {
                height: 30px;
                background-color: $primary-900;
                border-radius: 5px;
                color: #FFF;
                padding-left: 15px;

                &::placeholder {
                    color: #FFF;
                    font-size: $text-sm;
                }
                
            }
        }
    }
}