section.products {

        .container {

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            

            .top {

                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h3 {
                    font-size: $text-md;
                    padding-bottom: 15px;
                }

                h2 {
                    color: $secondary-500;
                    font-size: $text-xxl;
                    font-weight: $font-w800;
                }

                h1 {
                    font-size: $text-xxxl;
                    font-weight: $font-w800;
                    margin-top: -15px;
                }
                
            }

            .bottom {
                display: flex;
                flex-direction: row;
                gap: 15px;
                padding: 50px 0;

                .bedroom,
                .buffet,
                .dining,
                .sofa,
                .table,
                .wardrobe {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    width: 100px;
                    height: 100px;
                    border-radius: 10px;

                    background-color: $primary-50;
                    cursor: pointer;

                    &:hover {
                        background-color: #FFF;
                        box-shadow: 0 1rem 3rem rgba(0,0,0,.1);
                        transition: all ease 0.7s;
                    }
                }
            }
        }
    
}