@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');

$primary-800: #0b3954;

$secondary-800: #f8872b;

$background-color: #FFF;

$font-xl: "Kenia", sans-serif;
$font-md: "Mukta", sans-serif;
$font-color: #0b3954;

$text-xs: 0.75rem;
$text-sm: 0.9rem;
$text-md: 1rem;
$text-lg: 1.25rem;
$text-xl: 1.5rem;
$text-xxl: 2rem;
$text-xxxl: 2.5rem;

$font-w100: 100;
$font-w200: 200;
$font-w300: 300;
$font-w400: 400;
$font-w500: 500;
$font-w600: 600;
$font-w700: 700;
$font-w800: 800;
$font-w900: 900;
