@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');



$primary-950: #0b3954;
$primary-900: #0e4c6c;
$primary-800: #0a5c82;
$primary-700: #066d9e;
$primary-600: #0689c3;
$primary-500: #13a9e4;
$primary-400: #3cc1f4;
$primary-300: #80d6f9;
$primary-200: #bbe8fc;
$primary-100: #e1f3fd;
$primary-50: #f0f9ff;

$secondary-950: #431607;
$secondary-900: #7b3113;
$secondary-800: #993913;
$secondary-700: #c1490d;
$secondary-600: #e8620e;
$secondary-500: #f8872b;
$secondary-400: #fa993d;
$secondary-300: #fcbf75;
$secondary-200: #fddaab;
$secondary-100: #ffefd5;
$secondary-50: #fff8ed;

$background-color: #FFF;

$font-xl: "Kenia", sans-serif;
$font-md: "Mukta", sans-serif;
$font-color: #0b3954;

$text-xs: 0.75rem;
$text-sm: 0.9rem;
$text-md: 1rem;
$text-lg: 1.25rem;
$text-xl: 1.5rem;
$text-xxl: 2rem;
$text-xxxl: 2.5rem;

$font-w100: 100;
$font-w200: 200;
$font-w300: 300;
$font-w400: 400;
$font-w500: 500;
$font-w600: 600;
$font-w700: 700;
$font-w800: 800;
$font-w900: 900;
